extends layout

block content
    h1= title
    p I'm lazy and don't have real docs. Here are some notes.
    h3 1. Create a new token
    p After logging in, go to <a href="/token/new">/token/new?name=blah</a> to get a client token.

    h3 2. Push a notification
    pre curl -sd '{
        |     "tokens": ["xxxxx", "xxxx"],
        |     "title": "Test",
        |     "body": "whatever",
        |     "icon": "https://i.imgur.com/5F5UQdV.png",
        |     "url": "https://example.org"
        |}' -H 'Content-Type: application/json' https://push.finn.io/notifications/create

    p One or more tokens must be provided, as must a title. The rest is optional.
