extends layout

block content
  h1 EasyPush
  p PushBullet keeps asking for more permissions and adding more bloat. This is an simple wrapper for making notifications appear on an Android (or iOS probably) device by making an HTTP(s) request. I wanted IRC notifications on my phone, but apparently that's too damn hard, and now we're here. Thanks to fun new Javascript APIs this does not require installing any special app on the phone (other than Google Chrome)
