doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/semantic-ui/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='manifest', href='/manifest.json')
  body
    a(href='https://github.com/thefinn93/EasyPush', target='_blank')
      img(src='/images/ribbon.png').ribbon
    div.userbar
      if user
        = user + ' [ '
        a(href='/auth/logout') logout
        = ' | '
        a(href='/settings') settings
        = ' ]'
      else
        a(href='/auth') login
    block content
    script(src='/js/jquery.min.js' type='text/javascript')
    block js
