extends layout

block head
  link(rel='stylesheet', href='/stylesheets/notification.css')

block content
  div.ui.middle.aligned.center.aligned.grid
    div.column
      div.ui.cards
        div.card
          div.content
            img.floated.mini.ui.image(src=notification.icon)
            div.header= notification.title
            div.meta
              span from
              span Test App
              a.right(data-livestamp='#{notification.createdAt}', href='/notifications/' + notification.id)
            div.description= notification.body

block js
  #script(src='/js/notification.js' type='text/javascript')
  script(src='/vendor/moment/moment.min.js' type='text/javascript')
  script(src='/js/livestamp.min.js' type='text/javascript')
