extends layout

block content
  h1= title
  p Here's a list of pushes you've received recently:
  li.ui.list.pushlist

block js
  script(src='/js/home.js' type='text/javascript')
  script(src='/vendor/moment/moment.min.js')
  script(src='/js/livestamp.min.js' type='text/javascript')
