extends layout

block content
  h1 Manage Settings
  span Notifications on this device: 
  button(disabled="disabled").enable-push Not supported
  br
  b Devices:
  br
  table.subscriptions
  script(src='/js/easypush.js', type='text/javascript')
