body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

a {
  color: #00B7FF;
}

.timestamp {
  color: rgba(0,0,0,.4);
}

.icon {
  width: 2em;
  height: 2em;
}
